<nav  class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">CRM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Companies
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Companies">List</a>
          <a class="dropdown-item" href="/Companies/Create_Company">Create</a>          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Departments
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Departments">List</a>
          <a class="dropdown-item" href="/Departments/Create_Department">Create</a>  
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tickets
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Tickets">List</a>
          <a class="dropdown-item" href="/Tickets/Create_Ticket">Create</a>      
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="Tickets/Create_Progress">Add Progress</a>          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/Tickets/Tasks">Tasks</a>  
          <a class="dropdown-item" href="/Tickets/Create_Task">Create task</a>            
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Users">List</a>
          <a class="dropdown-item" href="/Users/Create_User">Create</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

