{% extends "base.html" %}


{% block title %}Departments{% endblock %}

{% block content %}
<div class="row">
	
		<div class="col-md-1"></div>
		<div class="col-md-10" style="margin-top: 20px;">
			<div class="col-md-3" style="margin-left: -17px;">
			Filtrar: <input class="form-control" id="buscar" type="text" placeholder="Search..">
			<br>
			</div>
			<table class="table table-striped"><thead><th class="bg-primary" style="text-align: center;"><h5><b>Departments</b></h5></h1></th></thead></table>
			<table id="datos" class="table table-striped">
				<thead class="thead-dark">
					<th>Name</th>
					<th>Edit</th>
					<th>Delete</th>
				</thead>
				<tbody>
					{% for Departamento in object_list %}
						<tr>
							<td>{{Departamento.dep_name}}</td>
							<td><a class="btn btn-warning" href="Edit_Department/{{Departamento.dep_id}}">Editar</a></td>
							<td><a class="btn btn-danger" href="Delete_Department/{{Departamento.dep_id}}">Eliminar</a></td>
						</tr>
					{% empty%}
					<div class="alert alert-danger" role="alert">
					  NO EXISTEN REGISTROS
					</div>
					{% endfor %}
				</tbody>
			</table>

		</div>
		<div class="col-md-1"></div>
	
</div>
<script>
$(document).ready(function(){
  $("#buscar").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#datos tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}